

/* button colors */

#gridButton {
background: gray}

#whiteButton, .tooltip {
 background: white;
}

#blueButton, .tooltip {
 background: white;
}

#blackButton, .tooltip {
 background: black;
}

/* background colors */

/* .grid-theme {
 background-size: 30px 30px;
 background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);} */


.white-theme {
 background-color: white;
}

.black-theme {
 background-color: black;
}

.blue-theme {
 background-color: blue;}
 /*   change text to white */
 /* color: white;
} */


.container{
 background-color: blue;
 font-family:cantique; 
 color: white;
 text-align: center;
 padding-top: 10%;
 text-decoration: none;
}



.grid{
 background-size: 20px 20px;
 background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);}

#button{
 border-radius: 6px;
 width: 100px;
 height:100px;
 margin: 0 100px 100px 0;
 background: white;
 color:black;
 flex:left;
}
/* 
nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: flex-start;
  justify-content: space-evenly;

} */

#switcher {
 list-style:none ;
 margin: 0;
 padding: 0;
 overflow: hidden;
}
#switcher li {

 width: 50px;
 height:50px;
 margin: 20px 100px 100px 0;
 border: 1px solid black;
 flex-direction: column;
}

.nav {
  display:inline-flex;
  flex-direction: row;
  /* align-items: center; */
}

#box 
{ border-radius: 6px;
  width: 100px;
  height: 100px;
  margin: 0 100px 100px 0;
  background: white;
  color:black;
  flex:left;}

.image{
 display:grid;
      grid-template-columns:1fr 2fr 1fr 2fr 1fr;
      grid-auto-rows:minmax(100px, auto);
      grid-gap:2em;
      grid-row-gap:-2em;
      justify-items:center;
      align-items:center;
      padding: 0.5em; 
      border: none !important;
      background: transparent !important;
}

a:link {
 text-decoration: none;
 color: white;
}

a:hover {
 color: pink;
}



.tooltip .tooltiptext {
  visibility: hidden;
 width: 200px;
 background-color:pink;
 color:#fff;
 text-align:center;
 border-radius: 6px;
 padding: 5px 0;
 opacity: 0;
 transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  top: -20px;
  right:105%;
  border-style: solid;
  /* border-color: transparent transparent black transparent; */
 
}
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
 

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#draggable 
{padding: 0.5em; max-height: 300px}

/* 
a:hover {
 position: relative;
}
a:hover:after {
 content: url(image/projects/project03/assets/coreii-mountain.png'); /* no need for qoutes */
 /* display: block;
 position: absolute;
 color: pink;
 left: 123px; /* change this value to one that suits you */
 /* top: 56px; /* change this value to one that suits you */


/* 
a:hover
{
    background-image: url('projects/project03/assets/coreii-mountain.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
    width: 100px;
    display: block;
    color: pink;

} */

/* resizeable elements  */
#resizable { width: 150px; height: 150px; padding: 0.5em; }
  #resizable h3 { text-align: center; margin: 0; }

.center {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
}

.cutout {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: none !important;
      background: transparent !important;
}

