.container{
 background-color: blue;
 font-family:cantique; 
 color: white;
 text-align: center;
 padding-top: 10%;
 text-decoration: none;
}

.grid{
 background-size: 40px 40px;
 background-image:
  linear-gradient(to right, grey 1px, transparent .001px),
  linear-gradient(to bottom, grey 1px, transparent .001px);}



.image{
 display:grid;
      grid-template-columns:1fr 2fr 1fr;
      grid-auto-rows:minmax(100px, auto);
      grid-gap:2em;
      grid-row-gap:-2em;
      justify-items:center;
      align-items:center;
}

a:link {
 text-decoration: none;
 color: white;
}

a:hover {
 color: pink;
}

#draggable 
{padding: 0.5em; max-height: 300px}

/* 
a:hover {
 position: relative;
}
a:hover:after {
 content: url(image/projects/project03/assets/coreii-mountain.png'); /* no need for qoutes */
 /* display: block;
 position: absolute;
 color: pink;
 left: 123px; /* change this value to one that suits you */
 /* top: 56px; /* change this value to one that suits you */


/* 
a:hover
{
    background-image: url('projects/project03/assets/coreii-mountain.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
    width: 100px;
    display: block;
    color: pink;

} */

.center {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
}

