

/* button colors */

#gridButton {
background: gray}

#whiteButton {
 background: white;
}

#blueButton {
 background: white;
}

#blackButton {
 background: black;
}

/* background colors */

/* .grid-theme {
 background-size: 30px 30px;
 background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);} */


.white-theme {
 background-color: white;
}

.black-theme {
 background-color: black;
}

.blue-theme {
 background-color: blue;}
 /*   change text to white */
 /* color: white;
} */


.container{
 background-color: blue;
 font-family:cantique; 
 color: white;
 text-align: center;
 padding-top: 10%;
 text-decoration: none;
}



.grid{
 background-color:;
 background-size: 20px 20px;
 background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);}

.button{
 border-radius: 20%;
 flex:left;
}
/* 
nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: flex-start;
  justify-content: space-evenly;

} */

#switcher {
 list-style: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}
#switcher li {
 float: right;
 width: 20px;
 height:20px;
 margin: 0 15px 15px 0;
 border: 1px solid black;
}

.image{
 display:grid;
      grid-template-columns:1fr 2fr 1fr 2fr 1fr;
      grid-auto-rows:minmax(100px, auto);
      grid-gap:2em;
      grid-row-gap:-2em;
      justify-items:center;
      align-items:center;
}

a:link {
 text-decoration: none;
 color: white;
}

a:hover {
 color: pink;
}

#draggable 
{padding: 0.5em; max-height: 300px}

/* 
a:hover {
 position: relative;
}
a:hover:after {
 content: url(image/projects/project03/assets/coreii-mountain.png'); /* no need for qoutes */
 /* display: block;
 position: absolute;
 color: pink;
 left: 123px; /* change this value to one that suits you */
 /* top: 56px; /* change this value to one that suits you */


/* 
a:hover
{
    background-image: url('projects/project03/assets/coreii-mountain.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 20px;
    width: 100px;
    display: block;
    color: pink;

} */

.center {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
}

